<button {{action "getOutline"}}>Make Outline</button>
{{#if currentPlan}}
  <h1>Beginning</h1>
  {{#each currentPlan as |step|}}
    <dl>
      <dt>{{step.operator.name}}</dt>
      <dd>
        {{#each step.currentState as |proposition|}}
          <ul><li>{{proposition.slug}}</li></ul>
        {{/each}}
      </dd>
      <dd>
        {{#each step.newAdditions as |proposition|}}
          <ul><li>{{proposition.slug}}</li></ul>
        {{/each}}
      </dd>
    </dl>
  {{/each}}
{{/if}}
{{yield}}
